table {
    padding: 0.5em 1em;
}

h1 {
    padding: 1em;
}


mat-card {
    padding: 1em;
}

td {
    padding-top: 1em;
    padding-bottom: 1em;
}

@media print {
    body {
        overflow: visible
    }
    .start-page-break{
        page-break-before: always;
      }
}
