
.current-experience {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  align-items: stretch;
}

.cur-xp-col {
  padding: 2rem;
}

.experience-row {
    width: 100%;
    text-align: center;
    
}

.skill-list-container {
  padding: 2rem;

}

td {
    padding-top: 1em;
    padding-bottom: 1em;
}
@media print {
    body {
      overflow: visible
  }
  
    .page-break {
      clear: both;
      page-break-after: always;
    }
  
    .start-page-break{
      page-break-before: always;
    }
  }

  
