<div class="content mat-elevation-z4 page-break" role="main">
    <div class="top_bg">
        <div class="main_top">
            <img class="prof_pic" alt="profile_picture" src="assets/img/pp.jpg" />
            <h1>Roberto Gil</h1>
            <h2>Software Engineer, Fullstack developer</h2>
          </div>
    </div>
    <mat-divider></mat-divider>
    <div class="main_body ">
      <div class="desc_div descriptions" >
        <app-about></app-about>
        <div>&nbsp;</div>
        <app-education></app-education>
        <div class="page-break"></div>
        <div>&nbsp;</div>
      </div>
      <div class="experience">
        <app-jobs class="start-page-break"></app-jobs>


      </div>
    </div>
  </div>
  