@use 'sass:math';

@import '@angular/material/theming';

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;


.dashboard{
  overflow: auto;
    bottom: 0;
    margin: 0 0;
    display: flex;
    flex-flow: column;
}

@mixin gradient($direction, $list, $background) { 
    background: $background;
    background: linear-gradient($direction, $list);
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e2b64",endColorstr="#2e2b64",GradientType=1); 
}
$top_list:  #2e2b6420, #f0f8ff50, #f0f8ff50, #f0f8ff50, #2e2b6420; 
    .top_bg{
        @include gradient(90deg, $top_list, #f0f8ff50);
}

.main_top {
    margin: 2em auto;
    text-align: center;
    width: 60%;
}

  .main_top h1 {
    font-weight: bold;
  }
  
  .prof_pic {
    display: block;
    margin: 2em auto;
    height: auto;
    width: 100%;
    max-width: 15em;
    border-radius: 20%;
  }
  
  .main_body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    align-content: flex-start;
    flex-wrap: wrap;
  
    @media #{$mq-small} {
      //padding: 3em 3em;
      flex-direction: row;
      align-content: normal;
      flex-wrap: nowrap;
    }
  
    @media print {
      display: block;
    }
  }
  
  .experience,
  .descriptions {
    padding: 1em 2em;
    border-top: aliceblue;
  }
  
  $desc_list_bg: #2e2b64, #1a183a;
  .descriptions{
    @media #{$mq-small} {
        width: 40%;
        padding: 1em 2em;
      }
      color: aliceblue;
      max-width: 100%;
      @include gradient(180deg, $desc_list_bg, #2e2b64);
      flex-direction: column;

      @media print {
        color: #000000
      }
  }

  .experience{
    @media #{$mq-small} {
        width: 60%;
        padding: 1em 2em;
      }
      max-width: 100%;
      flex-direction: column;
  }



